.content-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 717px;
}

.middle{
    width: 799px;
    height: 180px;
    margin-top: 236px;
    background: linear-gradient(273.28deg, #FFFFFF -4.19%, rgba(255, 255, 255, 0.396084) -4.19%, rgba(255, 255, 255, 0) 107.6%);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.middle input{
    width: 684px;
    height: 113px;
    left: 170px;
    top: 317px;
    outline:none;
    background: linear-gradient(273.28deg, #FFFFFF -4.19%, rgba(255, 255, 255, 0.396084) -4.19%, rgba(255, 255, 255, 0) 107.6%);
    background-color:#50aadb;
    border-style:none;
    text-align: center;
    font-size: 96px;
}


.middle input::placeholder{
    color: #FFFFFF;
    font-style: italic;
    letter-spacing: 0.17em;
}

.middleFocus{
    width: 799px;
    height: 180px;
    margin-top: 236px;
    box-sizing: border-box;
    border-radius: 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.middleFocus input{
    width: 684px;
    height: 113px;
    left: 170px;
    top: 317px;
    outline:none;
    background: #72C0EB;
    border-style:none;
    text-align: center;
    font-size: 60px;
}

.middleFocus input:focus::placeholder{
    color:transparent;
    background-color: #72C0EB;
    border-style:none;
    outline:none;
}

.middleFocus input::placeholder{
    color: #FFFFFF;
    font-style: italic;
    letter-spacing: 0.17em;
}

.middleFocus p{
    color: #FFFFFF;
    font-style: italic;
    letter-spacing: 0.17em;
    font-weight:100;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FFFFFF;
    width: 1024px;
    height: 148px;
}

.footer-item1{
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(105, 105, 105, 0.34) 0%, rgba(255, 255, 255, 0) 44.27%, rgba(90, 90, 90, 0.26) 100%), #FFFFFF;
}

.footer-item2{
    flex:6;
}