body{
background: -webkit-linear-gradient(left,purple,Lightblue);
background: -o-linear-gradient(right,purple,Lightblue);
background: -moz-linear-gradient(right,purple,Lightblue);
background: linear-gradient(to right,purple,Lightblue);
}
 
