/*外容器*/
.flex{
	display : flex;
	flex-direction: row;
	flex-wrap: nowrap;
	background-color: #3B3B3B;
}

/*內元件*/
.flex_1{
	flex: 1;
	height: 30px;/*固高*/
	flex-grow: 1;/*比例*/
	flex-shrink: 1;/*極限*/
	flex-basis: 50%;/*寬度*/
	justify-content: left;/*靠左*/
	margin: 1px;/*外距*/
	color: aliceblue;
	font-size: 25px;
}
