.marqee {
	height: 109px;
	margin: 0 auto;
	overflow: hidden; 
	position: relative;
}

.marqee  ul {
	display: flex;
	list-style-type: none;
	animation: marqee 50s linear infinite;
	position: absolute;
}


@keyframes marqee {
	0% {
		left: 100%;
		transform: translateX(0%);
	}

	100% {
		left: 0;
		transform: translateX(-100%);
	}
}